@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display');

body{
    background: rgba(193,70,161,1);
    background: -moz-linear-gradient(-45deg, rgba(193,70,161,1) 0%, rgba(168,0,119,1) 0%, rgba(203,96,179,1) 1%, rgba(0,255,255,0.58) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(193,70,161,1) 0%, rgba(168,0,119,1) 0%, rgba(203,96,179,1) 1%, rgba(0,255,255,0.58) 100%);
    background: -o-linear-gradient(-45deg, rgba(193,70,161,1) 0%, rgba(168,0,119,1) 0%, rgba(203,96,179,1) 1%, rgba(0,255,255,0.58) 100%);
    background: -ms-linear-gradient(-45deg, rgba(193,70,161,1) 0%, rgba(168,0,119,1) 0%, rgba(203,96,179,1) 1%, rgba(0,255,255,0.58) 100%);
    background: linear-gradient(135deg, rgba(193,70,161,1) 0%, rgba(168,0,119,1) 0%, rgba(203,96,179,1) 1%, rgba(0,255,255,0.58) 100%);
}

.bg-dark {
    /*background-color: #4c3673d4!important;*/
}

.card {
    background: bottom;
    margin: 0 auto 0 auto!important;
    width: 40vw;
    border: 0;
}

footer{
    background-color: #4c3673d4!important;
}

.logo{
    width: 72px;
    height: 72px;
    margin: 0 auto;
}

.text-center{
    /*width: 40vw;*/
    margin: 0 auto 0 auto!important;
}

.text-muted{
    margin-bottom: 2rem !important;
    color: #000;
}

.form-signin{
    margin-top: 3rem;
}

input{
    margin-bottom: 0.35rem;
    margin-top: 0.35rem;
}


@media (max-width: 950px) {
    .text-center {
      width: 60vw;
  }
  .card {
    width: 60vw;
  }
}

.chek{
    margin-top: 1rem;
}

.container {
    margin: 0 auto 0 auto!important;
}

.navbar-brand{
    font-family: 'Luckiest Guy';
    font-size: 2rem;
    color: #ff9800 !important;
    float: right;
}

.float-left{
    width: 9%;
}

.namber{
    font-family: 'Luckiest Guy';
    color: #ff9800 !important;
}

.footer-brand{
    padding-bottom: 1rem;
}

.badge{
    margin-top: 5px;
    padding: 0.6rem 2rem;
    font-size: 1.1rem;
}

.recupero-pass {
    
}
small{
    color: red;
}

#imagenAvatar{
    margin: 0rem;
    padding: 0rem;
    border-top-width: 10px;
}

#cargarAvatar{
    text-align: center;
}

.custom-file-label::after {
  content: "Avatar"!important;
}

#botonIngresar{
    margin-top: 1rem;
}

.avatar-t{
margin-top: 1rem;
}

.avatar-file{
    text-align: left;
}
.nav-item active {
  list-style: none;
}

.pb-5, .py-5 {
    padding-bottom: 0!important; 
}

.card-body {
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
    text-align: center;
}

.col-form-label {
    margin-right: -35px;
}

.btn-b:not(:disabled):not(.disabled) {
    width: 100%;
}

.inic{
    margin-bottom: 1rem!important; 
}


.FCbiss{
    width: 105%;
    background-color: rgba(255, 255, 255, 0)!important;
    border: none;
}

.lavelCustom{
    margin-right: -50px;
}

.formCustom{
    align-items: center!important;
}